.cardColor {
    background-color: #282828;
    color: white;
    position: relative;
    margin: 0px 37px;
}

.imageRelative {
    position: absolute;
    top: 19%;
    left: -6%;
}

.cardHeading {
    flex-direction: column;
    position: relative;
    right: -32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    list-style: none;
}

.btn__primary {
    height: 2.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 20px 0 20px 0;
    -webkit-box-sizing: border-box;
    background-color: #c7892b;
    color: white;
    font-size: 17px;
}

.btn__secondary {
    height: 2.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 20px 0 20px 0;
    -webkit-box-sizing: border-box;
    background-color: #09913c;
    color: white;
    font-size: 17px;
}
