:root {
    /* --navbar-primary: #986318; */
    --navbar-primary: #aa7d2a;
    --dark: #000000;
    --navbar-hover: #5f421f;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--dark);
}

.map {
    height: 100vh;
}

@media only screen and (max-width: 991px) {
    .cardColor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageRelative {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imageRelative img {
        width: 100%;
    }

    .cardHeading {
        position: static;
    }
}
